.backIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;

  border: 1px solid #D58C51;
  border-radius: 100%;
  color: #D58C51;
  background-color: transparent;
}

.backIcon:hover {
  cursor: pointer;
  border: 1px solid #f2730a;
  box-shadow: 0px 0px 8px 3px rgba(174, 126, 72, 0.15);
  background-color: rgba(237, 130, 8, 0.4);
}

