/*ЧЕКБОКСЫ*/
.form-checkbox__real {
  /*Скрываем стандартный чекбокс*/
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.form-checkbox__custom {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;

  border: 1px solid #D58C51;
  vertical-align: sub;
}

.form-checkbox__custom::before {
  content: '';
  /*Рисуем галочку*/
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #D58C51;;
  box-shadow: 0px 0px 8px 3px rgba(174, 126, 72, 0.25);
  border-radius: 100%;

  /*Выравниваем галочку*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);/*scale - чтобы по умолчанию убрать галочку*/
}

/*--Активируем custom-checkbox--*/
.form-checkbox__real:checked  + .form-checkbox__custom::before{
  transform: translate(-50%, -50%) scale(1);
}