.form {
  position: relative;
  padding: 9px 20px 34px 20px;
  width: 460px;
  height: 340px;

  background: #FFFFFF;
  color: black;
  border-radius: 10px;
}

.form__input-wrapper {
  position: relative;
}

.form__input {
  margin: 8px 0 12px 0;

  padding: 10px 18px;
  /* margin-bottom: 15px; */
  width: 100%;

  border: 1px solid #D58C51;
  border-radius: 61px;

  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  
  color: #161516;
}
.form__input::placeholder {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  
  color: #161516;
}

.form__text-error {
  position: absolute;
  bottom: 0;
  padding-left: 18px;
  font-weight: 300;
  font-size: 8px;
  line-height: 10px;

  color: #FF0B0B;
}

.form__text-error-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 85px;
  font-weight: 300;
  font-size: 8px;
  line-height: 10px;

  color: #FF0B0B;
}

.form__link {
  display: block;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  text-decoration-line: underline;

  color: #D58C51;
}

.form__link:hover {
  color: #ff1e00;
}

.form__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 31px;
  line-height: 27px;
  text-transform: uppercase;

  color: #161516;
}

.form__button-wrapper {
  position: absolute;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);

}