.cardList {
  height: calc(100vh - 180px);
  margin: 29px 0 67px 0;
  overflow-x: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px 1%;
}

.link {
  display: block;
}