.button {
  display: block;
  width: 200px;
  height: 42px;
  padding: 13px;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Montserrat', sans-serif;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px 3px rgba(174, 126, 72, 0.25);

}

/*Мофикатор*/
.buttonOrange {
  background-color: #D58C51;
  color: #131313;
}

.buttonOrange:hover {
  background-color: #df985f;
}

.buttonLimpid {
  border: 1px solid #D58C51;
  color: #D58C51;
  background-color: transparent;
}

.buttonLimpid:hover {
    background-color: #22180f;
}