.remove {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  border: 1px solid #D58C51;
  border-radius: 100%;
  cursor: pointer;
}

.remove:hover {
  background-color: rgba(237, 130, 8, 0.4);
  box-shadow: 0px 0px 8px 3px rgba(174, 126, 72, 0.15);
}

.btnRemove {
  display: block;
}